@import "../../assets/css-reset.css";

:root{
  --chat-bubble-width: 420px;
  --color-text-gray: #b3bcc2;
  --color-border-gray: var(--color-text-gray);
  --color-chatBubble-yellow: #fbf6c5;
}

.patternBg{
  background: top left repeat url("../../assets/body_bg.png");
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  padding-right:  1.5rem;
  padding-left:  1.5rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 640px;
  }
}
